<div class="background"></div>
<div class="container" style="padding-top: 100px;">
  <div class="container">
    <!-- <div class="row">
      <app-header></app-header>
    </div> -->
    <div class="row">
      <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
        <div class="card">
          <div class="card-header">
            <h4><button mat-icon-button><i class="fa fa-twitter"></i></button></h4>
            <!-- <div class="social-btns">
             <button mat-icon-button><i class="fa fa-facebook-square"></i></button>
             <button mat-icon-button><i class="fa fa-twitter"></i></button>
             <button mat-icon-button><i class="fa fa-google-plus"></i></button>
           </div> -->
          </div> 
          <div class="card-form">
            <div class="form-row">
              <i class="material-icons">face</i>
              <mat-form-field color="accent">
                <input type="text" matInput placeholder="User Name" />
              </mat-form-field>
            </div>
            <div class="form-row">
              <i class="material-icons">lock_outline</i>
              <mat-form-field color="accent">
                <input type="password" matInput placeholder="Password" />
              </mat-form-field>
            </div>

            <div  style="margin-bottom: 16px; flex-direction: row; box-sizing: border-box; display: flex; 
           place-content: center space-between; align-items: center;padding-top: 10px;">
              <mat-checkbox class="caption mat-checkbox mat-accent" id="mat-checkbox-1">
                <label class="mat-checkbox-layout" for="mat-checkbox-1-input">
                   <span class="mat-checkbox-label"><span style="display:none">&nbsp;</span>Remember Me</span>
                </label></mat-checkbox><a  class="caption" href="">Forgot
                Password?</a>
            </div>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-block btn-info btn-sm" (click)="loginBtn()">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>