<div class="container">
    <app-navbar title="Table List"></app-navbar>
    <div style="background-color: #1976d2;height: 300px;margin-top: 30px;">
        <div>
            <div class="title">All-In-One Table</div>
            <div class="sub-title">Dashboard >> Country</div>
            <div class="col-md-12" style="padding-top: 20px;">
              <div class="card">           
                 <span>
                    <img src="../../../assets/img/add.png" style="width:50px;;float: right;"/>      
                 </span>
                <div class="card-content"> 
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="text-primary" style="background-color: #3c8dbc;color: white;">
                        <tr>
                          <th>First Name</th>
                          <th>Country</th>
                          <th>City</th>
                          <th>Salary</th>
                          <th>Option</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Dakota Rice</td>
                          <td>Niger</td>
                          <td>Oud-Turnhout</td>
                          <td class="text-primary">$36,738</td>
                          <td> <img src="../../../assets/img/edit.jpg" style="width: 20px;"/> | 
                                <img src="../../../assets/img/delete.png" style="width: 20px;"/></td>
                        </tr>
                        <tr>
                          <td>Minerva Hooper</td>
                          <td>Curaçao</td>
                          <td>Sinaai-Waas</td>
                          <td class="text-primary">$23,789</td>
                          <td> <img src="../../../assets/img/edit.jpg" style="width: 20px;"/> | 
                            <img src="../../../assets/img/delete.png" style="width: 20px;"/></td>
                        </tr>
                        <tr>
                          <td>Sage Rodriguez</td>
                          <td>Netherlands</td>
                          <td>Baileux</td>
                          <td class="text-primary">$56,142</td>
                          <td> <img src="../../../assets/img/edit.jpg" style="width: 20px;"/> | 
                            <img src="../../../assets/img/delete.png" style="width: 20px;"/></td>
                        </tr>
                        <tr>
                          <td>Philip Chaney</td>
                          <td>Korea, South</td>
                          <td>Overland Park</td>
                          <td class="text-primary">$38,735</td>
                          <td> <img src="../../../assets/img/edit.jpg" style="width: 20px;"/> | 
                            <img src="../../../assets/img/delete.png" style="width: 20px;"/></td>
                        </tr>
                        <tr>
                          <td>Doris Greene</td>
                          <td>Malawi</td>
                          <td>Feldkirchen in Kärnten</td>
                          <td class="text-primary">$63,542</td>
                          <td> <img src="../../../assets/img/edit.jpg" style="width: 20px;"/> | 
                            <img src="../../../assets/img/delete.png" style="width: 20px;"/></td>
                        </tr>
                        <tr>
                          <td>Mason Porter</td>
                          <td>Chile</td>
                          <td>Gloucester</td>
                          <td class="text-primary">$78,615</td>
                          <td> <img src="../../../assets/img/edit.jpg" style="width: 20px;"/> | 
                            <img src="../../../assets/img/delete.png" style="width: 20px;"/></td>
                        </tr>
                        <tr>
                            <td>Dakota Rice</td>
                            <td>Niger</td>
                            <td>Oud-Turnhout</td>
                            <td class="text-primary">$36,738</td>
                            <td> <img src="../../../assets/img/edit.jpg" style="width: 20px;"/> | 
                              <img src="../../../assets/img/delete.png" style="width: 20px;"/></td>
                          </tr>
                          <tr>
                            <td>Minerva Hooper</td>
                            <td>Curaçao</td>
                            <td>Sinaai-Waas</td>
                            <td class="text-primary">$23,789</td>
                            <td> <img src="../../../assets/img/edit.jpg" style="width: 20px;"/> | 
                              <img src="../../../assets/img/delete.png" style="width: 20px;"/></td>
                          </tr>
                          <tr>
                            <td>Sage Rodriguez</td>
                            <td>Netherlands</td>
                            <td>Baileux</td>
                            <td class="text-primary">$56,142</td>
                            <td> <img src="../../../assets/img/edit.jpg" style="width: 20px;"/> | 
                              <img src="../../../assets/img/delete.png" style="width: 20px;"/></td>
                          </tr>
                          <tr>
                            <td>Philip Chaney</td>
                            <td>Korea, South</td>
                            <td>Overland Park</td>
                            <td class="text-primary">$38,735</td>
                            <td> <img src="../../../assets/img/edit.jpg" style="width: 20px;"/> | 
                              <img src="../../../assets/img/delete.png" style="width: 20px;"/></td>
                          </tr>
                          <tr>
                          <td>Mason Porter</td>
                          <td>Chile</td>
                          <td>Gloucester</td>
                          <td class="text-primary">$78,615</td>
                          <td> <img src="../../../assets/img/edit.jpg" style="width: 20px;"/> | 
                            <img src="../../../assets/img/delete.png" style="width: 20px;"/></td>
                        </tr>
                        <tr>
                            <td>Dakota Rice</td>
                            <td>Niger</td>
                            <td>Oud-Turnhout</td>
                            <td class="text-primary">$36,738</td>
                            <td> <img src="../../../assets/img/edit.jpg" style="width: 20px;"/> | 
                              <img src="../../../assets/img/delete.png" style="width: 20px;"/></td>
                          </tr>
                          <tr>
                            <td>Minerva Hooper</td>
                            <td>Curaçao</td>
                            <td>Sinaai-Waas</td>
                            <td class="text-primary">$23,789</td>
                            <td> <img src="../../../assets/img/edit.jpg" style="width: 20px;"/> | 
                              <img src="../../../assets/img/delete.png" style="width: 20px;"/></td>
                          </tr>
                          <tr>
                            <td>Sage Rodriguez</td>
                            <td>Netherlands</td>
                            <td>Baileux</td>
                            <td class="text-primary">$56,142</td>
                            <td> <img src="../../../assets/img/edit.jpg" style="width: 20px;"/> | 
                              <img src="../../../assets/img/delete.png" style="width: 20px;"/></td>
                          </tr>
                          <tr>
                            <td>Philip Chaney</td>
                            <td>Korea, South</td>
                            <td>Overland Park</td>
                            <td class="text-primary">$38,735</td>
                            <td> <img src="../../../assets/img/edit.jpg" style="width: 20px;"/> | 
                              <img src="../../../assets/img/delete.png" style="width: 20px;"/></td>
                          </tr>
                          
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  
    
  </div>  